
* {
  margin: 0;
  padding: 0;
}

body {
  background: #e8e8e8 !important;
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

}

a {
  text-decoration: none !important;
}

.grn {
  color: #11B826;
}

.sblu {
  color: #00AEEF;
}

.blu {
  color: #083EA1;
}

.red {
  color: #FF2D46;
}

.orng{
  background-color: #F07A13;
}

.weekly-btn{
  border-radius: 20px;
  border: 0;
  padding: 9px 12px;
}


.fs-10{
  font-size: 15px;
}
.fs-11{
  font-size: 11px !important;
}
.fs-12{
  font-size: 12px;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px;
}
.fs-22{
  font-size: 22px;
}
.fs-25{
  font-size: 25px;
}
.fs-45{
  font-size: 45px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  max-width: 1175px !important;
}

.main-header {
  background-image: url(../img/bnr-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.fs-20 {
  font-size: 20px;
}

.src-form {
  position: relative;
}

.src-input {
  width: 750px;
  /* max-width: 350px; */
  border-radius: 50px !important;
}

.src-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.form-select {
  width: 30% !important;
  max-width: 30%;
}

.live::after{
  content: " ";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: #0BB839;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: 5px;
  right: 17px;
  z-index: 5;
}

.menu-row {
  overflow: auto;
  white-space: nowrap;
  background-color: #e8e8e8;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 174px; 
  padding: 10px 0;
}

.menu-row a {
  color: #000 !important;
  font-size: 15px;
}
.menu-row a:active {
  color: #009ece !important;
}
.menu-row::-webkit-scrollbar {
  height: 5px;
}

.menu-row::-webkit-scrollbar-track {
  background: rgb(211, 211, 211);
  border-radius: 10px;
}

.menu-row::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
  border-radius: 10px;
}

.sub-head-row {
  border: 1px solid lightgrey;
  border-radius: 18px;
  background-color: #fff;
}

.subs-bar li a.active{
  border-bottom: 2px solid #083EA1;
  color: #083EA1;
}

.nav-tabs .nav-item .nav-link{
  color: #000;
}
.nav-tabs .nav-item .nav-link.active{
  border: none;
  border-bottom: 1px solid #083EA1;
  color: #083EA1;
}

.sub-src{
  position: relative;
}
.sub-src-input{
  padding-left: 40px !important;
}
.sub-src-btn{
  position: absolute;
  border: none;
  background: transparent;
  top: 8px;
  left: 10px;
  color: grey;

}

.badge {
  background-color: #e1fcef;
  border-radius: 10px !important;
  color: #14804A !important;
  font-weight: 400 !important;
  font-size: 12px;
  padding: 5px 5px;
}
.badge-red {
  background-color: #FAF0F3;
  border-radius: 10px !important;
  color: #FF2D46 !important;
  font-weight: 400 !important;
  font-size: 12px;
  padding: 5px 5px;
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
}

.main-card {
  background-color: #fff;
  padding: 5px 20px 5px 20px;
  margin-right: auto;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.padding-card{
  padding: 0px 12px 5px 12px;
}

.bg-row{
  background: #F9FAFC;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-card{
  padding: 20px 20px 0px 20px;
}
.card-padding{
  padding: 25px 10px 0px 10px;
  height: 175px;
}

.card{
  border-radius: 15px !important;
}

.card-body {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  margin-top: -15px;
}


.card-details li span {
  color: rgb(158, 158, 158);
}

.img-bg {
  background-color: lightgray;
  border-radius: 10px;
}

.tab-btn{
  overflow: auto;
}

.custom-container {
  background-color: lightgray;
  border-radius: 10px;

  height: 150px;
  display: flex;
  align-items: center;
}

.badge-verify{
  border: 1px solid #083EA1; 
  color:#083EA1; 
  border-radius: 20px; 
  padding: 1px 10px;
  font-size: 13px;
}
.card.mb-3 {
  border: none;
}

.font-size-b {
  font-size: 19px;
}

.font-size-text {
  font-size: 18px;
}

.icon-holder {
  margin-left: 390px;
}

.icon-holder1 {
  margin-left: 390px;
}

.tab {
  display: flex;
  
  flex-direction: row;
  justify-content: left;
  margin-top: 20px !important;
}

.tab button {
  border: none;
  background-color: #fff;
  color: #2c2c2c;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  text-align: center;
  padding: 10px 25px;
}

.tab button:hover {
  color: #083EA1;
  border-bottom: 2px solid #083EA1;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.tab .tablinks.active {
  color: #083EA1;
  border-bottom: 2px solid #083EA1;
}

.tabcontent {
  display: none;
  padding: 20px;
  width: 100%;
}

.sub-head-row-2 {
  border: 1px solid lightgrey;
  border-radius: 20px;
  background-color: #fff;
  height: 70px;
  margin-right: auto;
  display: flex;
  align-items: center;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 1;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: right;
  pointer-events: none;
  color: #aaa;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.text-right {
  text-align: right;
}

.row my-3 align-items-center sub-head-row-2 {
  margin-left: 1px;
}

.main-card3 {
  background-color: #fff;
  padding: 5px;
  padding-left: 25px;
  padding-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.n {
  margin-bottom: 0.3rem;
}

#n1{
  background-color: #2e2e2e;
  color: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.notification-row{
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
}

.not-icn{
  font-size: 28px;
}

.icn{
  width: 30px !important;
}
.subhead {
  background-color: #fff;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 10px;

}

.invoice {
  background-color: #fff;
}

.payNow {
  background-color: #fff;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 15px;


}

.success {
  margin-right: 0px;
  margin-left: auto;
  background-color: #11B826;
}

.dropdown-menu {
  /* display: none; */
  position: relative;
  background-color: white;
  list-style-type: none;
  width: 15rem;
  padding: 10px !important;
  margin: 10px !important;
  border: 1px solid grey;
  /* left: -210px; */
}

.dropdown-menu1 {
   display: none;
   position: fixed;
    z-index: 1000;
    right: 285px;
   }
.dropdown-menu1.show {
   display: block;
}

.checked {
  color: orange;
  border: black;
  border-width: 15px;
}
.notes_area{
  padding: 8px;
  
  
}

.card-details{
  list-style: none;
  padding-left: 0;
}
.card-details li span{
  color: rgb(158, 158, 158);
}
.tt_color{
  color: #083EA1;
}



/* .card-subs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  border: white;
  
  box-shadow: 0 0px 0px 0px white;
}
 */
.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 170px;
  height: 170px;
  transform: rotate(-90deg);
  border: white;
}

.card svg circle {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 6;
  stroke-linecap: square;
}
.card .circle-high circle {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 15;
  stroke-linecap: square;
}


.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #3498db; 
}

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}
.card .num-trans {
  transform: translate(-30%, -50%);
}

.card .number h3 {
  font-weight: 200;
  font-size: 3.5rem;
}

.card .number h3 span {
  font-size: 2rem;
}

.card:nth-child(1) svg circle:last-of-type {
  stroke: #1bd32d;
}

.card-red:nth-child(1) svg circle:last-of-type {
  stroke: #D03728;
}

.card-blu:nth-child(1) svg circle:last-of-type {
  stroke: #3573E7;
}

.card-grn:nth-child(1) svg circle:last-of-type {
  stroke: #0BB839;
}

.carousel-slider-indicators{
  bottom: -40px !important;
}

.carousel-slider-indicators [data-bs-target]{
  background-color: #083EA1 !important;
}

.number img{
  width: 30px;
  margin: 0 auto;
}

.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch1 input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #91CC45;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #91CC45;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}


.verifybtn{
  background-color: #083EA1;
  padding: 7px;
  color: white;
  border: 0cm;
  text-decoration: white;
  text-align: center;
  align-items: center;
  
}
.pet{
  border-radius: 50%;
  
}
.names{
  background: #2C2C2E;
  padding: 35px;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.Recent{
  color: white;
  
}
.rec{
  background: linear-gradient(180deg, #1A5BD6 0%, #3573E7 0%, #3573E7 100%);
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  height: 370px;
  overflow: auto;
}

.bt i{
  font-size: 40px;
}
.second_sec{
  margin-top: -5%;
}
.sec_sec{
  margin-top: -10%;
}
.aa{
  border-radius: 20%;
}
.new_rent{
  background-color: orangered;
}

.mai{
  background-color: #fff;
  margin-right: 15px;
  margin-top: 0%;
  border: 1px solid lightgrey;
  border-radius: 15px;
  align-content: center;
  align-self: center;
}
.add_new{
  background: linear-gradient(180deg,#DB4B3D 100%, #D03728 100%);
  
  color: white;
  margin-right: 20px;
  margin-top: 0%;
  border-radius: 15px;
  
}
.end_rent{
  background: linear-gradient(180deg,#3573E7 100%, #1A5BD6 100%);
  color: white;
  margin-right: 20px;
  margin-top: 0%;
  border-radius: 15px;
}
.start_con{
  background: linear-gradient(180deg,#DE5494 100%, #CF4485 100%);
  color: white;
  margin-right: 20px;
  margin-top: 0%;
  border-radius: 15px;
}
.view_usage{
  background: linear-gradient(180deg,#9557F3 100%, #692FC2 100%);
  color: white;
  margin-right: 20px;
  margin-top: 0%;
  border-radius: 15px;
}
.manage_tag{
  background: linear-gradient(180deg,#FD9840 100%, #F07A13 100%);
  color: white;
  margin-right: 5px;
  margin-top: 0%;
  border-radius: 15px;
}


/* table, th, td {
  border: 1px solid black;
} */
.two{
  background-color: rgb(237, 237, 108);
  margin-right: 5px;
  margin-top: 0%;
  border-radius: 15px;
}
.row_one{
  background-color: rgb(200, 200, 31);
  margin-right: 5px;
  margin-top: 0%;
  margin-bottom: 10%;
  border-radius: 25px;
}
.row_two{
  background-color: #14804A;
  margin-right: 5px;
  margin-top: 0%;
  border-radius: 25px;
}
.cararea{
  margin-right: 5px;
  margin-top: 0%;
  border-radius: 25px;
  background: #FFAB00;
  
  padding: 65PX 0PX 65PX 0PX;
}
.list-num{
  font-size: 35px;
  color: #fff !important;
  font-weight: 600;
}
.list-text{
  font-size: 23px;
  color: #fff !important;
}

.reg_driver{
  background: linear-gradient(180deg, #FDCE30 0%, #F8C109 100%);
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}
.con_earn{
  background: linear-gradient( #0BB839 100%, #058527 100%);
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}
.previous:hover {
  background-color: #dfdada;
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 12px 12px;
}
.next:hover {
  background-color: #dfdada;
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 12px 12px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  width: 45px;
  padding: 12px 12px;
  
}

.next {
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  width: 45px;
  padding: 12px 12px;
  text-decoration: none;
  
}

.round {
  border-radius: 50%;
}
.btn-grade{
  padding: 10px 15px;
  background: #083EA1;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
}
.btn-mng{
  padding: 10px 15px;
  border: 1px solid #00AEEF;
  border-radius: 5px;
  color: #00AEEF;
  display: inline-block;
}
.nn{
  background-color: #fff;
  padding: 0px 30px 30px 30px;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.send{
  margin-right: 10px;
}
.upload{
  border: 1px dashed #00aeef;
  margin:30px 0px 39px 7px;
  border-radius: 8px;
  
}
.repoAccClaim{
  background-color: #fff; 
  margin-top: 10px; 
  padding: 10px; 
  border-radius: 15px;
}

.history-dot{
  height: 20px;
  width: 20px;
  background-color: blue;
  border-radius: 50%;
}
 .active {
  display: block !important;
}

.tabcontent {
  display: none;
}

@media only screen and (max-width:450px){
  .fs-10{
      font-size: 10px;
  }
  .live::after{
      right: 85px;
  }
  .menu-row{
      top: 258px;
  }
  .src-input{
      width: 350px !important;
  }
  .src-btn{
      right:30px !important;
  }
  .card .number{
      transform: translate(-105px, -50%);
  }
  .us-profile{
      width: 50%;
  }
  .dropdown-menu1{
      right: 50px;
  }
}